
<!-- About Us -->
<div class="diagonal1">    
    <section id="about" class="about mb-50">    
        <div class="container">
        <div class="row"> 
            <div class="col-sm-12 col-md-6">
                <div class="km-space"></div>
                <h1>WHO WE ARE ?</h1> 
                <div class="section-header-sep">
                    <span></span>
                </div> 
                    <div class="km-space"></div>
                    <h5 class="lead">
                    We are a passionate experienced team with big ambitions.
                    </h5>
                    <div class="km-space"></div>
                    <p>
                        Founded in 2015, Logicon is a software development company that houses extremely motivated and talented developers and designers across the globe. We provides our clients state-of-the-art Web Development, Mobile Application Development, Custom Software Solutions, RESTful API Development, Automated Data Scraping, Cloud Services and much more.
                    </p>
                    <br>
                    <a href="#about"><button type="button" class="btn btn-primary btn-square"> READ MORE <span class="glyphicon glyphicon-arrow-right"></span></button>
                    </a>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="km-space"></div>
                    <div class="about-animate">
                        <img src="assets/img/2nd-left.png">  
                    </div>
                <div class="km-space"></div>
      
            </div>     
        </div>      
            <!-- description text -->
        </div>
        
    </section>
</div>

<!-- Services -->

    <!-- SERVICES PARALAX -->
    
    <section id="services" class="services mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background">
       <!--  <div class="section-overlay"></div> -->
        <div class="container">
        <div class = "board">
        <div class="line"></div>
            <div class="row center">                
                    <div class="service-intro">
                        <h2> OUR SERVICES</h2>
                        <p>Find out what we can offer your business
                        </p>
                    </div>
              
            </div>
            <div class="board-inside">
            <div class="row">
                <div class="col-sm-12 col-lg-4 right  right-0">
                    <img src="assets/img/mobile-dev-icon.png">
                    <h6>MOBILE APP DEVELOPMENT</h6>
                    <p>We take your ideas; fuel them with our proven and established approach and morph them into real apps with pixel-perfect UI for enriched user experience. Android and iOS app development along with Android gear and iWatch is our expertise.
                    </p>
                </div>
                <div class="col-sm-12 col-lg-4 left  left-0">
                    <img src="assets/img/web-dev.png">
                    <h6>WEB &amp; DEVELOPMENT</h6>
                    <p>Apps are imperative but it’s the web that still rules. Logicon’s web development services comprise of rapid and smart approach utilizing trending MVC frameworks coupled with latest technologies to produce elegant, high performance, responsive and mobile-friendly websites.
                    </p>
                </div>
                <div class="col-sm-12 col-lg-4 left right-0">
                    <img src="assets/img/api.png">
                    <h6>REST API &amp;  DEVELOPMENT</h6>
                    <p>Dynamic sharing and posting of content created at a particular location to multiple locations all over the web simultaneously and instantly is made possible through Logicon’s custom API development services tailor-built for every client.
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-lg-4 right right-0">
                    <img src="assets/img/cloud.png">
                    <h6>CLOUD COMPUTING</h6>
                    <p>Logicon offers state-of-the-art Cloud services employing Amazon Web Services (AWS) deployment on S3 and EC2, Microsoft Azure and Google App Engine, utilizing some of the latest technologies of modern Cloud computing services to implement multiple highly scalable applications.
                    </p>
                </div>
                <div class="col-sm-12 col-lg-4 left left-0">
                    <img src="assets/img/game-dev.png">
                    <h6>GAME DEVELOPMENT</h6>
                    <p>Mobile game development is no longer about a few good-looking animations. The endowed developers at Logicon understand the evolving mobile gaming scenario and hence focus more on crafting a marvellous overall experience for the players.
                    </p>
                </div>
                <div class="col-sm-12 col-lg-4 left right-0">
                    <img src="assets/img/resource-out.png">
                    <h6>RESOURCE OUTSOURCING</h6>
                    <p>Outsourcing has become the to-go option for all businesses reducing the in-house staffs, management costs and increase work efficiency. Logicon offers quality out-sourcing services that ensure reliable support at attractive prices for all kinds of IT services.
                    </p>
                </div>
            </div>
            <br>            
            <div class="row center">
                 <a href="#services"><button type="button" class="btn btn-primary btn-square-view"> VIEW ALL <span class="glyphicon glyphicon-arrow-right"></span></button>
                 </a>
            </div>
            <br>
            </div>
        </div>
        </div>
    </section>
   
<!-- Resource Outsourcing --> 
   
    <section id="outsourcing" class="outsourcing mb-50">
    <div class="diagonal2">     
        <div class="container">
        <div class="row">     
                <div class="col-sm-12 col-md-4">
                <div class="km-space"></div>
                <h1>RESOURCE OUTSOURCING</h1> 
                    <div class="km-space"></div>
                    <p>
                        Outsourcing has become the to-go option for all businesses reducing the in-house staffs, management costs and increase work efficiency. Logicon offers quality out-sourcing services that ensure reliable support at attractive prices for all kinds of IT services. Logicon offers quality IT out-sourcing services in Pakistan to all the businesses abroad that look forward to partnering up with offshore companies. 
                    </p>
                    <br>
                    <a href="#resource-outsourcing"><button type="button" class="btn btn-primary btn-square"> READ MORE <span class="glyphicon glyphicon-arrow-right"></span></button>
                    </a>
                </div> 

                <div class="col-sm-12 col-md-8">
                <div class="km-space"></div>
                    <div class="resource-pic">
                        <img src="assets/img/resource-outsource.png">  
                    </div>
                <div class="km-space"></div>
      
            </div> 
        </div>      
            <!-- description text -->
        </div>
    </div> 
    </section>


        <!-- PORTFOLIO -->
    <section class="portfolio">
    <!-- 1st portfolio tab and image -->
        <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="col-md-12">
                    <div class="portfolio-tab">
                        <p>WE HELP YOUR BUSINESS LOOK GREAT</p>
                    </div>
              </div>
               
                <div class="col-md-12">
                    <div class="container">
                        <div class="portfolio-text">
                            <p>At Logicon we constantly push ourselves to adopt new technologies and implement refined processes to ensure our clients get services and results nothing short of international standards.
                            </p>
                        </div>
                       
                   </div>
                </div>
                
           </div>
           
           <div class="portfolio-img1">
               <div class="col-md-3 col-sm-12" >
                   <div class="tab-pic">
                       <a href="" class="portfolio_item work-grid">
                            <img src="assets/img/portfolio/echo.jpg" alt="image">
                        </a>
                   </div>
                   
                   
               </div>
           </div>

           
           
        </div>

        <div class="container">
            <!-- all works -->
            <div class="portfolio-img">
                       <!-- bigger column -->
                    <div class="col-md-6">
                                <a href="" class="portfolio_item work-grid">
                                    <img src="assets/img/portfolio/eme.jpg" alt="image">
                                  
                                </a>
                                   
                                <a href="" class="portfolio_item work-grid">
                                    <img src="assets/img/portfolio/teemo.jpg" alt="image">
                                </a>
                           
                        <!-- end row -->
                    </div>

                    <!-- smaller column -->
                    <div class="col-md-6 smaller-col">
                        
                          
                                <a href="" class="portfolio_item work-grid">
                                    <img src="assets/img/portfolio/spelding.jpg" alt="image">
                                </a>
                                    
                                <a href="" class="portfolio_item work-grid">
                                    <img src="assets/img/portfolio/gym.jpg" alt="image">
                                </a>
                           <div class="row">
                             <div class="right-arrow">
                                <a href=""><span class="glyphicon glyphicon-arrow-right"></span></a>    
                            </div>  
                               
                           </div>

                        <!-- end row -->
                    </div>

                </div> 
        </div>
        <!-- end container -->
        
    </section>
    <!-- portfolio -->


    <!-- Locations-->
    <section class="locations">
        <div class="loc-bg1">
            <div class="container">
                <div class="loc-space">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="loc-text">
                            <h1>BUILDING RELATIONSHIPS ACROSS THE BOARD</h1>
                                <p>Our clients are the life-source of our business. We believe that integrity in client dealings is an undisputable prerequisite for a successful and sustained business relationship. We operate a highly effective and efficient organization, focused on meeting client objectives.
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                 
            </div> 

        <div class="map-pic">
            <div class="container">
                 <div class="row">
                     <div class="col-sm-12 col-md-12">
                         <img src="assets/img/map.png">
                                <div class="loc-points">
                                       <div class="loc-point1">
                                         <div class="row">
                                              <div class="col-sm-1 col-md-1 col-lg-1">
                                                   <img src="assets/img/map-bullet.png">
                                               </div>
                                         </div>
                                          
                                     </div>
                                     <div class="loc-point2">
                                        <div class="row">
                                              <div class="col-sm-1 col-md-1 col-lg-1">
                                                   <img src="assets/img/map-bullet.png">
                                               </div>  
                                        </div>
                                          
                                     </div>
                                     <div class="loc-point3">
                                        <div class="row">
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                               <img src="assets/img/map-bullet.png">
                                           </div>
                                        </div>
                                          
                                     </div>
                                     <div class="loc-point4">
                                        <div class="row">
                                             <div class="col-sm-1 col-md-1 col-lg-1 col-md-offset-11">
                                                <img src="assets/img/map-bullet.png">
                                             </div>  
                                        </div>
                                          
                                     </div>
                                     <div class="loc-point5">
                                        <div class="row">
                                             <div class="col-sm-1 col-md-1 col-lg-1 col-md-offset-11">
                                               <img src="assets/img/map-bullet.png">
                                             </div>  
                                        </div>
                                          
                                     </div>
                                </div>
                                
                               
                          

                     </div>
               </div>
               <!--   Locations  Points -->
               

            </div>
            
        </div>
    </div> 
      <!--   Contacts Image -->
      <div class="container">
              <div class="row row-custom-loc">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-8">
                      <div class="row">
                          <a href="">
                              <img src="assets/img/contact.png">
                          </a>
                       
                      </div>
                  </div>
                               
               </div>
            
        </div> 
    </section>
            
   
    <!-- FACTS  Counts-->
         
        <div id="facts" class="facts mbr-box mbr-section mbr-section--relative">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-lg-2 col-md-2">
                    <div class ="row"> <img src="assets/img/projects.png"> </div>
                    <div class="row">
                        <div class="count-item">
                        
                        <div class="numscroller" data-slno='1' data-min='0' data-max='100' data-delay='10' data-increment="10">9909</div>
                        <div class="count-name-intro">Project Done</div>
                    </div>
                    </div>
                    
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="counts-line1"></div>
                </div>
                

                <div class="col-xs-12  col-lg-4 col-md-4">
                    <img src="assets/img/help.png">
                    <div class="count-item">
                        
                        <div class="numscroller" data-slno='1' data-min='0' data-max='20000' data-delay='10' data-increment="5">1111</div>
                        <div class="count-name-intro">We Helped Earn Our Clients</div>
                    </div>
                </div>
                
                <div class="col-md-2 col-lg-2">
                    <div class="counts-line2"></div>
                </div>
                

                <div class="col-xs-12  col-lg-2 col-md-2">
                    <img src="assets/img/barb.png">
                    <div class="count-item">    
                        <div class="numscroller" data-slno='1' data-min='0' data-max='20' data-delay='10' data-increment="5">1555</div>
                        <div class="count-name-intro">BBQ Parties</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OUR TEAM -->
    <section class="team">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1">
                <div class="row"> 
                    <div class="col-xs-12  col-lg-4 col-md-4">
                    <img src="assets/img/header.jpg">
                        <div class="team-text">
                            <h5>MURAD HASSAN</h5>
                            <h6>Co Founder | CEO</h6>
                        </div>
                    
                    </div>
                    <div class="col-xs-12  col-lg-4 col-md-4">
                    <img src="assets/img/header.jpg">
                        <div class="team-text">
                            <h5>ADIL SARWAR</h5>
                            <h6>Co Founder | CEO</h6>
                        </div>
                    </div>
                    <div class="col-xs-12  col-lg-4 col-md-4">
                    <img src="assets/img/header.jpg">
                         <div class="team-text">
                            <h5>SUHAIL SARWAR</h5>
                            <h6>Managing Director</h6>
                        </div>

                    </div>
                    
                </div>

                 <div class="row"> 
                    <div class="col-xs-12  col-lg-4 col-md-4">
                    <img src="assets/img/header.jpg">
                        <div class="team-text">
                            <h5>A SAMAD RASHID</h5>
                            <h6>Managing Director - Americas</h6>
                        </div>
                    </div>
                    <div class="col-xs-12  col-lg-4 col-md-4">
                    <img src="assets/img/header.jpg">
                          <div class="team-text">
                            <h5>SAAD ZUBERI</h5>
                            <h6>Senior Advisor</h6>
                        </div>
                    </div>
                    <div class="col-xs-12  col-lg-4 col-md-4">
                    <img src="assets/img/header.jpg">
                         <div class="team-text">
                            <h5>HAMNA SAMAD</h5>
                            <h6>Business Systems Analyst</h6>
                        </div>
                    </div>
                    
                </div>
                    
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1">
                <div class="team-text">
                    <h1>MEET OUR <div class="t-heading">TEAM</div></h1>
                    <div class="km-space"></div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="text-line"></div>
                        </div>
                        <div class="col-sm-6 col-md-8">
                              <p>We have a powerful team to create powerful 'Work'</p>
                        </div>
                     </div>
                    <div class="km-space"></div>
                </div>
                <div class="team-tag">
                    <a href="#team">READ MORE</a>
                </div>
                
            </div>
            
        </div>
        
    </section>



     <!-- CLIENTS -->

     <section class="clients">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="clients-bg">
                    <div class="container">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                             <div class="row">
                                <div class="clients-text">
                                    <h1>
                                        OUR CLIENTS
                                    </h1>
                                    <p>
                                        Our clients are the life-source of our business. We believe that integrity in client dealings is an undisputable prerequisite for a successful and sustained business relationship. We operate a highly effective and efficient organization, focused on meeting client objectives.
                                    </p>
                                    
                                </div>
                                 
                             </div>
                        
                       </div>

                       <div class="row">
                           <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                   <div class="col-sm-12 col-md-2">
                                      
                                   </div>
                                  
                                   <div class="col-sm-12 col-md-2">
                                      
                                      <img src="assets/img/clients/log1.jpg">
                                      
                                  </div>
    
                                  <div class="col-sm-12 col-md-2">
                                       <div class="img2">
                                      <img src="assets/img/clients/logo2.png">
                                      </div>
                                  </div>
                                  <div class="col-sm-12 col-md-2">
                                      <img src="assets/img/clients/logo3.png">
                                  </div>
                                
                                  <div class="col-sm-12 col-md-2">
                                      <div class="img4">
                                      <img src="assets/img/clients/logo4.png">
                                      </div>
                                  </div>
                                  
                                  
                                  <div class="col-sm-12 col-md-2">
                                     
                                  </div>
                                
                            </div>
                               
                           </div>
                           
                       </div>


                   



                    </div>
             
                </div>
            </div>
            
        </div>
         
         
     </section>



    
    