
	<!-- HERO SECTION  -->
	<!-- <div class="site-hero_2">
		<div class="section-overlay"></div>
		<div class="page-title">
			<h2>our services</h2>
			<div class="small-title">home / services / </div>
		</div>
	</div> -->

	<!-- WHAT WE DO -->
	<section class="about_descr mt-100">
		<div class="container">
			<div class="row center">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="section-title">
						<h2 class="mb-50">Our services</h2>
						<p class="module-subtitle">Latest project we have made. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>

			<div class="row mt-100">
				<div class="col-md-6 wow fadeInUp">
					<p style="margin-bottom:30px">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
						there live the blind texts, nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur..
					</p>
					<div class="col-md-6">
						<div class="row">
							<ul class="services-list">
								<li>Stunning on all screens</li>
								<li>Easy to customize</li>
								<li>Make a difference</li>
								<li>Imagine and create</li>
								<li>Unlimited possibilities</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<ul class="services-list">
								<li>Remarkable style</li>
								<li>Captivating presentations</li>
								<li>Make a difference</li>
								<li>Make a difference</li>
								<li>Imagine and create</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6 wow fadeInUp" data-wow-delay=".1s">
					<img src="assets/img/services_desc.jpg" alt="img" style="width:100%">
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</section>

	<!-- CLIENTS -->
	<div id="clients" class="clients mt-100 mbr-box mbr-section mbr-section--relative">
		<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0 L50 100 L100 0 Z" fill="#fff" stroke="#fff"></path>
		</svg>
		<div class="container">
			<div class="row">
						<div class="col-md-12">
						</div>
						<div id="owl-demo">
								<div class="item"><img src="assets/img/clients/1.png" alt="Owl Image"></div>
								<div class="item"><img src="assets/img/clients/2.png" alt="Owl Image"></div>
								<div class="item"><img src="assets/img/clients/3.png" alt="Owl Image"></div>
								<div class="item"><img src="assets/img/clients/1.png" alt="Owl Image"></div>
								<div class="item"><img src="assets/img/clients/2.png" alt="Owl Image"></div>
								<div class="item"><img src="assets/img/clients/3.png" alt="Owl Image"></div>
						</div>
				</div>
		</div>
	</div>

	<!-- Testimonials -->
	<section id="testimonials" class="testimonials mb-100 mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted mbr-parallax-background" style="background-image: url(assets/img/testimonials.jpg);">
				<div class="container">
					<div class="row">
								<div class="col-md-12">
										<div class="flexslider">
												<ul class="slides">
														<li>
																<div class="avatar"><img src="assets/img/testimonial1.jpg" alt="Sedna Testimonial Avatar"></div>
																<h5>"Lorem ipsum dolor sit amet, nullam lucia nisi."</h5>
																<p class="author">Tanislav Robert, Product Designer.</p>
														</li>
														<li>
																<div class="avatar"><img src="assets/img/testimonial2.jpg" alt="Sedna Testimonial Avatar"></div>
																<h5>"Nunc vel maximus purus. Nullam ac urna ornare."</h5>
																<p class="author">Tanislav Alexandru, Founder @ WocTech.</p>
														</li>
														<li>
																<div class="avatar"><img src="assets/img/testimonial3.jpg" alt="Sedna Testimonial Avatar"></div>
																<h5>"Nullam ac urna ornare, ultrices nisl ut, lacinia nisi."</h5>
																<p class="author">Calota Oana, Pixel Guru</p>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
	</section>

	<section class="mb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
					<div class="benefits_1_single mb-50">
						<i class="lnr lnr-heart-pulse"></i>
						<h6>keep pulse going</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".1s">
					<div class="benefits_1_single mb-50">
						<i class="lnr lnr-rocket"></i>
						<h6>unlimited options</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
					<div class="benefits_1_single mb-50">
						<i class="lnr lnr-diamond"></i>
						<h6>great ideas</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".3s">
					<div class="benefits_1_single mb-50">
						<i class="lnr lnr-mustache"></i>
						<h6>awesome support</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
					<div class="benefits_1_single mb-50">
						<i class="lnr lnr-magic-wand"></i>
						<h6>we do magic</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".1s">
					<div class="benefits_1_single mb-50">
						<i class="lnr lnr-cart"></i>
						<h6>best price</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
					<div class="benefits_1_single mb-50">
						<i class="lnr lnr-clock"></i>
						<h6>don't wait</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".3s">
					<div class="benefits_1_single mb-50">
						<i class="lnr lnr-smile"></i>
						<h6>happy peoples</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- PRICING -->
	
	 <!-- PRICING -->
    <section id="pricing" class="pricing mbr-box mbr-section mbr-section--relative mbr-section--full-height mbr-section--bg-adapted">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="row center">
                        <div class="section-title mb-100">
                            <div class="process-numbers">04</div>
                            <h2>our prices</h2>
                            <p class="module-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing_plan">
                        <div class="plan_title"><h6>Basic</h6></div>
                        <div class="plan_price">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                <div class="numscroller" data-slno='1' data-min='0' data-max='29' data-delay='20' data-increment="5">29</div>
            </div>
                        <ul class="list">
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
                            <li><strong>Three</strong>year support & updates</li>
                        </ul>
                        <a href="blog-inner.html" class="default-btn"> See More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing_plan" style="background-color:rgba(243, 239, 135, 0.58);">
                        <div class="plan_title"><h6>Standard</h6></div>
                        <div class="plan_price">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                <div class="numscroller" data-slno='1' data-min='0' data-max='79' data-delay='15' data-increment="5">79</div>
            </div>
                        <ul class="list">
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
                            <li><strong>Two</strong>year support & updates</li>
                        </ul>
                        <a href="blog-inner.html" class="default-btn"> See More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing_plan">
                        <div class="plan_title"><h6>Advanced</h6></div>
                        <div class="plan_price">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                <div class="numscroller" data-slno='1' data-min='0' data-max='199' data-delay='13' data-increment="5">199</div>
            </div>
                        <ul class="list">
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
                            <li><strong>Three</strong>year support & updates</li>
                        </ul>
                        <a href="blog-inner.html" class="default-btn"> See More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
