
	<!-- Border -->
	<!-- <span class="frame-line top-frame visible-lg"></span>
	<span class="frame-line right-frame visible-lg"></span>
	<span class="frame-line bottom-frame visible-lg"></span>
	<span class="frame-line left-frame visible-lg"></span> -->
	<!-- HEADER  -->
	<header class="main-header">
		<div class="container-fluid">
				<!-- box header -->
				<div class="box-header">
						<div class="box-logo">
								<a href="index.html"><img src="assets/img/logo.png" width="80" alt="Logo"></a>
						</div>
						<!-- box-nav -->
						<a class="box-primary-nav-trigger" href="#0">
								<span class="box-menu-icon"></span>
						</a>
						<!-- box-primary-nav-trigger -->
				</div>
				<!-- end box header -->

				<!-- nav -->
				<nav>
						<ul class="box-primary-nav">
								<li class="box-label">About me</li>

								<li><a href="index.html">Home</a> <i class="ion-ios-circle-filled color"></i></li>
								<li><a href="services.html">services</a></li>
								<li><a href="single-project.html">single project</a></li>
								<li><a href="contact.html">contact</a></li>

								<li class="box-label">Follow us</li>

								<li class="box-social"><a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
				</nav>
				<!-- end nav -->
		</div>
	</header>

	<!-- HERO SECTION  -->
	<!-- <div class="site-hero_2">
		<div class="section-overlay"></div>
		<div class="page-title">
			<h2>Project Title</h2>
			<div class="small-title">home / portfolio / single_project</div>
		</div>
	</div> -->


	<section class="project_descr">
		<div class="container mt-100">
			<div class="row center">
			<div class="col-md-8 col-md-offset-2 col-sm-12">
				<div class="section-title">
					<h2 class="mb-50">project title</h2>
					<p class="module-subtitle">Latest project we have made. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			</div>

			<div class="row mt-50">
				<div class="col-md-9 wow fadeInUp">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div class="col-md-3 wow fadeInUp" data-wow-delay=".1s">
					<ul class="project_list">
						<li>Web design</li>
						<li>Front end development</li>
						<li>Back end development</li>
						<li>SEO</li>
					</ul>
					<h5 class="share-title">share</h5>
					<ul class="social-icons" style="margin-top:20px;">
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="tw"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="ln"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="pt"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="pages_pagination">
				<a href="portfolio-1.html" class="all"><i class="lnr lnr-menu"></i></a>
				<a href="" class="prev"><i class="lnr lnr-arrow-left"></i></a>
				<a href="" class="next"><i class="lnr lnr-arrow-right"></i></a>
			</div>
		</div><!-- end container -->
	</section>

	<div class="container">
			<div class="flexslider">
				<ul class="slides">
					<li><img src="assets/img/work-1.jpg" alt="portfolio" /></li>
					<li><img src="assets/img/work-1.jpg" alt="portfolio" /></li>
					<li><img src="assets/img/work-1.jpg" alt="portfolio" /></li>
				</ul>
			</div>
		</div>

		<!-- FACTS  -->
		<div id="facts" class="facts mt-100 mbr-box mbr-section mbr-section--relative">
			<div class="container">
				<div class="row center">
					<div class="col-md-8 col-md-offset-2"><h2 class="mb-100">Fun facts about this project</h2></div>
				</div>
				<div class="row text-center">
						<div class="col-xs-12 col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-clock"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='50' data-delay='10' data-increment="3">50</div>
													<div class="count-name-intro">+ Hours</div>
											</div>
									</div>
									<div class="col-xs-12  col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-mustache"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='8' data-delay='10' data-increment="2">5</div>
													<div class="count-name-intro">Designers</div>
											</div>
									</div>
									<div class="col-xs-12  col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-coffee-cup"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='400' data-delay='10' data-increment="4">400</div>
													<div class="count-name-intro">coffe's</div>
											</div>
									</div>
									<div class="col-xs-12 col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-camera"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='3000' data-delay='10' data-increment="9">3000</div>
													<div class="count-name-intro">+ Photos taken</div>
											</div>
									</div>
						</div>
			</div>
		</div>

	<!-- Footer -->
	